<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sound.DAO.Ai_recommendationMapper">

<insert id="insertAiRecommendation" parameterType="com.sound.entity.Ai_recommendation"
    useGeneratedKeys="true" keyProperty="suggId" keyColumn="SUGG_ID">
    INSERT INTO ai_recommendation (
        SUGG_REASON,
        SUGGESTED_AT,
        NUTR_ID,
        FOOD_ID,
        INTERACTION,
        USR_ID
    ) VALUES (
        #{suggReason},
        SYSDATE,
        #{nutrId},
        #{foodId},
        #{interaction},
        #{usrId}
    )
</insert>


</mapper>