<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sound.DAO.Ai_recommendationMapper">

	<insert id="insert"
		parameterType="com.sound.entity.Ai_recommendation"
		useGeneratedKeys="true" keyProperty="suggId">
		INSERT INTO ai_recommendation (
		SUGG_ID,
		SUGG_REASON,
		SUGGESTED_AT,
		NUTR_ID,
		FOOD_ID,
		INTERACTION,
		USR_ID
		) VALUES (
		ai_recommendation_seq.NEXTVAL,  <!-- 시퀀스를 사용하여 SUGG_ID 자동 생성 -->
		#{suggReason},
		SYSDATE,  <!-- 오늘 날짜를 자동으로 입력 -->
		#{nutrId},
		#{foodId},
		#{interaction},
		#{usrId}
		)
	</insert>


</mapper>