<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sound.DAO.BoardMapper">

	<insert id="writer" parameterType="com.sound.entity.Board">
		insert into POST (POST_ID,
		POST_TITLE, POST_CONTENT, POST_FILE, VIEW_COUNT,
		USR_ID, CREATED_AT,
		UPDATED_AT)
		values (POST_SEQ.nextval, #{postTitle}, #{postContent},
		#{postFile,
		jdbcType=VARCHAR}, 0, #{usrId, jdbcType=VARCHAR}, SYSDATE,
		SYSDATE)
	</insert>

	<select id="view" resultType="com.sound.entity.Board">
		select POST_ID as postId,
		POST_TITLE as postTitle, POST_CONTENT as
		postContent,
		POST_FILE as
		postFile, VIEW_COUNT as viewCount, USR_ID as usrId,
		CREATED_AT as
		createdAt, UPDATED_AT as updatedAt
		from POST
		where POST_ID = #{postId}
	</select>

	<!-- 게시글 목록 조회 쿼리 (페이지네이션 적용) -->
	<select id="listWithPagination"
		resultType="com.sound.entity.Board">
		SELECT * FROM (
		SELECT A.*, ROWNUM RNUM FROM (
		SELECT * FROM post ORDER BY POST_ID DESC
		) A
		WHERE ROWNUM  &lt; #{offset} + #{limit}
		)
		WHERE RNUM > #{offset}
	</select>



	<select id="search" resultType="com.sound.entity.Board">
		select POST_ID as postId,
		POST_TITLE as postTitle, POST_CONTENT as
		postContent,
		POST_FILE as
		postFile, VIEW_COUNT as viewCount, USR_ID as usrId,
		CREATED_AT as
		createdAt, UPDATED_AT as updatedAt
		from POST
		where POST_TITLE like '%'
		|| #{search} || '%'
		or USR_ID like '%' || #{search} || '%'
		or
		POST_CONTENT like '%' || #{search} || '%'
	</select>

	<update id="update" parameterType="com.sound.entity.Board">
		update POST
		set POST_TITLE =
		#{postTitle},
		POST_CONTENT = #{postContent},
		POST_FILE = #{postFile,
		jdbcType=VARCHAR},
		UPDATED_AT = SYSDATE
		where POST_ID = #{postId}
	</update>

	<update id="increaseViewCount" parameterType="int">
		update POST
		set
		VIEW_COUNT = VIEW_COUNT + 1
		where POST_ID = #{postId}
	</update>

	<delete id="delete" parameterType="com.sound.entity.Board">
		delete from POST
		where POST_ID
		= #{postId}
	</delete>
</mapper>
