<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sound.DAO.ProductsMapper">

	<insert id="insertProducts"
		parameterType="com.sound.entity.Products">
		INSERT INTO products (
		PRODUCT_URL,
		PRODUCT_IMAGE,
		SUGG_ID
		) VALUES (
		#{productUrl},
		#{productImage},
		#{suggId}
		)
	</insert>


</mapper>