<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>GoMyPage</servlet-name>
		<display-name>GoMyPage</display-name>
		<description></description>
		<servlet-class>com.sound.gopage.GoMyPage</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>GoInformation</servlet-name>
		<display-name>GoInformation</display-name>
		<description></description>
		<servlet-class>com.sound.gopage.GoInformation</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SearchController</servlet-name>
		<display-name>SearchController</display-name>
		<description></description>
		<servlet-class>com.sound.controller.SearchController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>GoSearchResultPage</servlet-name>
		<display-name>GoSearchResultPage</display-name>
		<description></description>
		<servlet-class>com.sound.gopage.GoSearchResultPage</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SearchNaverApiController</servlet-name>
		<display-name>SearchNaverApiController</display-name>
		<description></description>
		<servlet-class>com.sound.controller.SearchNaverApiController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Test</servlet-name>
		<display-name>Test</display-name>
		<description></description>
		<servlet-class>com.sound.controller.Test</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ApiTestServlet</servlet-name>
		<display-name>ApiTestServlet</display-name>
		<description></description>
		<servlet-class>com.sound.controller.ApiTestServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>NaverApiController1</servlet-name>
		<display-name>NaverApiController1</display-name>
		<description></description>
		<servlet-class>com.sound.controller.NaverApiController1</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>BoardUpdateLikeController</servlet-name>
		<display-name>BoardUpdateLikeController</display-name>
		<description></description>
		<servlet-class>com.sound.Board.BoardUpdateLikeController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>BoardLikeController</servlet-name>
		<display-name>BoardLikeController</display-name>
		<description></description>
		<servlet-class>com.sound.Board.BoardLikeController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>BoardCommentController</servlet-name>
		<display-name>BoardCommentController</display-name>
		<description></description>
		<servlet-class>com.sound.Board.BoardCommentController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>MyPageController</servlet-name>
		<display-name>MyPageController</display-name>
		<description></description>
		<servlet-class>com.sound.controller.MyPageController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>GoMyPagerecommendPage</servlet-name>
		<display-name>GoMyPagerecommendPage</display-name>
		<description></description>
		<servlet-class>com.sound.gopage.GoMyPagerecommendPage</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LogoutController</servlet-name>
		<display-name>LogoutController</display-name>
		<description></description>
		<servlet-class>com.sound.controller.LogoutController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>KakaoCallbackController</servlet-name>
		<display-name>KakaoCallbackController</display-name>
		<description></description>
		<servlet-class>com.sound.snsLogin.KakaoCallbackController</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>KakaoLoginController</servlet-name>
		<display-name>KakaoLoginController</display-name>
		<description></description>
		<servlet-class>com.sound.snsLogin.KakaoLoginController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GoLodingPage</servlet-name>
		<display-name>GoLodingPage</display-name>
		<description></description>
		<servlet-class>com.sound.gopage.GoLodingPage</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GoMyPage</servlet-name>
		<url-pattern>/GoMyPage</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GoInformation</servlet-name>
		<url-pattern>/GoInformation</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SearchController</servlet-name>
		<url-pattern>/SearchController</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GoSearchResultPage</servlet-name>
		<url-pattern>/GoSearchResultPage</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SearchNaverApiController</servlet-name>
		<url-pattern>/SearchNaverApiController</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/Test</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ApiTestServlet</servlet-name>
		<url-pattern>/ApiTestServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>NaverApiController1</servlet-name>
		<url-pattern>/NaverApiController1</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BoardUpdateLikeController</servlet-name>
		<url-pattern>/BoardUpdateLikeController</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BoardLikeController</servlet-name>
		<url-pattern>/BoardLikeController</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BoardCommentController</servlet-name>
		<url-pattern>/BoardCommentController</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MyPageController</servlet-name>
		<url-pattern>/MyPageController</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GoMyPagerecommendPage</servlet-name>
		<url-pattern>/GoMyPagerecommendPage</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/LogoutController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GoLodingPage</servlet-name>
		<url-pattern>/GoLodingPage</url-pattern>
	</servlet-mapping>



</web-app>
