<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>GoMyPage</servlet-name>
  	<display-name>GoMyPage</display-name>
  	<description></description>
  	<servlet-class>com.sound.gopage.GoMyPage</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GoInformation</servlet-name>
  	<display-name>GoInformation</display-name>
  	<description></description>
  	<servlet-class>com.sound.gopage.GoInformation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchNaverApiController</servlet-name>
  	<display-name>SearchNaverApiController</display-name>
  	<description></description>
  	<servlet-class>com.sound.controller.SearchNaverApiController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GoMyPage</servlet-name>
  	<url-pattern>/GoMyPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GoInformation</servlet-name>
  	<url-pattern>/GoInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchNaverApiController</servlet-name>
  	<url-pattern>/SearchNaverApiController</url-pattern>
  </servlet-mapping>
</web-app>
